* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  font-family: "Open Sans", sans-serif;
}

html {
  scroll-behavior: smooth;
}

li,
a,
ul {
  z-index: 1;
  font-weight: 300;
  font-size: 20px;
  text-decoration: none;
  list-style: none;
  color: black;
  align-items: center;
}

header {
  position: fixed;
  width: 100%;
  align-items: center;
  padding: 10px 5%;
  background-color: rgb(255, 253, 247);
  z-index: 2;
}

nav {
  display: flex;
  align-items: center;
  width: 100%;
  min-width: 80%;
}

.contlink {
  position: relative;
  float: right;
  width: auto;
}

.nav_links {
  width: 100%;
}

.nav_links li {
  display: inline-block;
  position: relative;
  left: 20px;
  padding: 0px 15px 0px;
}

.nav_links li a {
  text-decoration: none;
}

header img {
  height: 50px;
}

.nav_links li:hover {
  cursor: pointer;
  transition: all 0.3s ease 0s;
  transform: scale(1.1);
}

main {
  height: 800px;
}

.contact-us {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row-reverse;
}

.form-register {
  width: 30%;
  margin-top: 7%;
  background: rgb(132, 127, 246);
  background: linear-gradient(73deg,
      rgba(132, 127, 246, 1) 0%,
      rgba(122, 201, 255, 1) 72%);
  padding: 30px;
  border-radius: 4px;
  font-family: "Poppins", sans-serif;
  color: white;
  box-shadow: 7px 13px 50px rgb(160, 160, 250);
  position: relative;
}

.form-register h4 {
  font-size: 22px;
  margin-bottom: 20px;
}

.controls {
  width: 100%;
  background: rgb(230, 228, 255);
  background: linear-gradient(73deg,
      rgb(178, 175, 255) 0%,
      rgba(122, 201, 255, 1) 72%);
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 16px;
  border: 1px solid #818af3;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  color: rgb(54, 54, 54);
}

.controls,
.textarea:focus {
  outline: none;
}

.form-register p {
  text-align: center;
  font-size: 18px;
  text-decoration: none;
  color: white;
}

.button {
  position: relative;
  width: 100%;
  background: rgb(160, 160, 250);
  border: none;
  padding: 12px;
  color: white;
  top: 20px;
  font-size: 16px;
}

.textarea {
  margin-top: 0.5em;
  width: 100%;
  border: none;
  border-radius: 10px;
  font-size: 1rem;
  font-family: "Poppins", sans-serif;
}

form p {
  margin-top: 1em;
}

footer {
  background: #111;
  height: auto;
  padding-top: 40px;
  color: #fff;
}

.footer-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  width: 100%;
}

.footer-content h3 {
  font-size: 1.8rem;
  font-weight: 400;
  text-transform: capitalize;
  line-height: 3rem;
  position: relative;
  left: 10px;
}

.footer-content p {
  max-width: 500px;
  margin: 10px auto;
  line-height: 28px;
  font-size: 14px;
  position: relative;
  left: 10px;
}

.social {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0rem 3rem 0rem;
}

.social a {
  text-decoration: none;
  color: #fff;
}

.social a i {
  font-size: 2.1rem;
  transition: color 0.4s ease;
}

.social li {
  padding-left: 40px;
}

.social a:hover i {
  color: rgba(31, 104, 224, 1);
}

.footer-bottom {
  background: #111;
  padding: 20px 0px;
  text-align: center;
}

.ecuador {
  width: 25px;
  position: relative;
  top: 5px;
  right: 10px;
}

.footer-bottom p {
  font-size: 14px;
  word-spacing: 2px;
  text-transform: capitalize;
}

.parent {
  position: relative;
  width: 30%;
  height: 0;
  padding-bottom: 30%;
  background-image: url(../css/travel.png);
  clip-path: polygon(50% 0%,
      83% 12%,
      100% 43%,
      94% 78%,
      68% 100%,
      32% 100%,
      6% 78%,
      0% 43%,
      17% 12%);
}

.parent img {
  width: 110%;
  margin-top: 25%;
}

.Titulo {
  color: #111;
  position: relative;
  font-size: 3rem;
}

.ubicacion {

  width: 90%;
}

.toggle {
  color: black;
  background: none;
  border: none;
  font-size: 30px;
  padding: 0 20px;
  line-height: 60px;
  display: none;
}

@media(max-width: 1170px) {

  li,
  a,
  ul {
    z-index: 1;
    font-weight: 300;
    font-size: 15px;
  }

  header img {
    height: 40px;
  }
}

@media(max-width: 768px) {
  header {
    position: fixed;
    flex-direction: column;
    width: 100%;
    height: 60px;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(255, 253, 247);
    z-index: 2;
  }

  .contlink {
    padding-top: 3.5em;
    float: none;
  }

  .toggle {
    color: black;
    background: none;
    border: none;
    font-size: 30px;
    padding: 0 80%;
    line-height: 10px;
    display: block;
  }

  .nav_links li {
    line-height: 95px;
    display: flex;
    flex-direction: column;
    position: relative;
    top: 8%;
    padding: 0px 15px 0px;
    left: 0px;
  }

  .nav_links li a {
    text-decoration: none;
    color: #eee;
    font-size: 1.2rem;
  }

  header img {
    position: relative;
    height: 40px;
  }

  .nav_links li:hover {
    cursor: pointer;
    transition: all 0.3s ease 0s;
    transform: scale(1.1);
  }

  .nav_links {
    position: fixed;
    top: 60px;
    background-color: #000000;
    width: 100%;
    left: 100%;
    transition: left 0.3s;
    height: 100vh;

  }

  .nav_links_visible {
    left: 0;
  }

  .contact-us {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    height: 500px;
  }

  .form-register {
    width: 85%;
    margin-top: 95%;
    background: rgb(132, 127, 246);
    background: linear-gradient(73deg,
        rgba(132, 127, 246, 1) 0%,
        rgba(122, 201, 255, 1) 72%);
    padding: 30px;
    border-radius: 4px;
    font-family: "Poppins", sans-serif;
    color: white;
    box-shadow: 7px 13px 50px rgb(160, 160, 250);
    position: relative;
  }

  .Titulo {
    display: none;
  }

  .parent {
    display: none;
  }
}